@use '../index' as i;

.hero {
	width: 100%;
	height: 800px;
	background-image: url("../image/backgrounds/hero-background.jpg");
	@include i.bg-image;
	padding: 32px 40px 0;
	position: relative;

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__nav {
			display: flex;
			gap: i.$spacing-600;

			.nav-list {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				gap: i.$spacing-600;

			}

			.nav-item {
				list-style-type: none;
				@include i.text-preset-10;
			}

			&-link {
				color: i.$white;
			}
		}

		&__cta {
			@include i.text-preset-8;
			border: none;
			width: 140px;
			height: 56px;
			border-radius: 56px;
			background-color: i.$white;
			cursor: pointer;

			&:hover {
				color: i.$white;
				background-color: color-mix(in srgb, i.$white 50%, transparent 100%);
			}
		}

		&__burger {
			border: none;
			background-color: transparent;
			cursor: pointer;
			display: none;
		}
	}

	&__title {
		@include i.text-preset-1;
		color: i.$white;
		text-align: center;
		margin: 15% auto;
	}

	&__scroll-indicator {
		width: 30px;
		height: 108px;
		margin: auto;
		position: absolute;
		left: 50%;
		top: 52%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 1440px) {
	.hero {
		.header {
			&__nav {
				display: none;
			}

			&__burger {
				display: flex;
			}
		}

		&__title {
			margin: 72px auto;
		}
	}
}

@media (max-width: 768px) {
	.hero {
		height: 538px;

		&__title {
			@include i.text-preset-2;
			position: absolute;
			top: 10%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}