@use '../index' as i;

.hero {
	width: 100%;
	height: 800px;
	background-image: url("../image/backgrounds/hero-background.jpg");
	@include i.bg-image;
	padding: i.$spacing-400 i.$spacing-500 0;
	position: relative;

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__nav {
			display: flex;
			gap: i.$spacing-600;

			.nav-list {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				gap: i.$spacing-600;

			}

			.nav-item {
				list-style-type: none;
				@include i.text-preset-10;
			}

			&-link {
				color: i.$white;
			}
		}

		&__cta {
			@include i.text-preset-8;
			border: none;
			width: 140px;
			height: i.$spacing-700;
			border-radius: i.$spacing-700;
			background-color: i.$white;
			cursor: pointer;

			&:hover {
				color: i.$white;
				background-color: color-mix(in srgb, i.$white 50%, transparent 100%);
			}
		}

		&__burger {
			border: none;
			background-color: transparent;
			cursor: pointer;
			display: none;
		}

		&__menu {
			display: none;
			position: absolute;
			top: 100px;
			right: i.$spacing-500;
			z-index: 1;
			flex-direction: column;
			align-items: flex-end;
			width: calc(100vw - 80px);

			&-cloud {
				width: 0;
				height: 0;
				border-left: 34px transparent solid;
				border-bottom: 34px i.$white solid;
			}

			&-nav {
				width: 100%;
				background-color: i.$white;
				@include i.flex-center;
				flex-direction: column;
				gap: i.$spacing-400;
				padding: 38px 0;

				.menu-list {
					@include i.flex-center;
					flex-direction: column;
					gap: i.$spacing-400;
					justify-content: space-evenly;

					.menu-item {
						list-style-type: none;
						@include i.text-preset-9;

						.menu-link {
							color: i.$gray-550;
						}
					}
				}

				.header__menu-cta {
					@include i.text-preset-8;
					border: none;
					width: 140px;
					height: i.$spacing-700;
					border-radius: i.$spacing-700;
					background-color: i.$yellow-500;
					cursor: pointer;
					color: i.$black;

					&:hover {
						background-color: color-mix(in srgb, i.$yellow-500 50%, transparent 100%);
					}
				}
			}
		}

	}

	&__title {
		@include i.text-preset-1;
		color: i.$white;
		text-align: center;
		position: absolute;
		top: 23%;
		left: 50%;
		transform: translateX(-50%);
	}

	&__scroll-indicator {
		width: 30px;
		height: 108px;
		margin: auto;
		position: absolute;
		left: 50%;
		top: 52%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 1440px) {
	.hero {
		.header {
			&__nav {
				display: none;
			}

			&__burger {
				display: flex;
			}
		}
	}
}

@media (max-width: 768px) {
	.hero {
		height: 538px;
		padding: 32px 24px 0;

		.header {

			&__menu {
				min-width: 327px;
				width: calc(100vw - 48px);
				margin: 0 auto;
				right: i.$spacing-300;
			}
		}

		&__title {
			@include i.text-preset-2;
			top: 0;
			margin: 110px auto 0;
		}
	}
}