@use '../index' as i;

.image-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0;

	&__item {
		width: 100%;
	}
}

@media (max-width: 1440px) {
	.image-grid {
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: repeat(2, 2fr);
	}
}