// –––––––––––––––––––– Colors

// white
$white: #fff;

// black
$black: #000;

// green
$green-800: #24554a;
$green-600: #3e7467;
$green-500: #458d7e;
$green-300: #90d4c6;

// gray
$gray-950: #24303e;
$gray-600: #5b636d;
$gray-550: #808397;
$gray-400: #a7aaad;

// blue
$blue-950: #052c3b;
$blue-800: #19536c;

// red
$red-400: #fe7766;

// yellow
$yellow-500: #fad400;

// ––––––––––––––––––––– Spacing

$spacing-0: 0px;
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-700: 56px;
$spacing-725: 58px;
$spacing-900: 72px;
$spacing-1000: 80px;