@use '../index' as i;

.projects {
	display: flex;

	.graphic-design,
	.photography {
		@include i.bg-image;
		min-height: 600px;
		width: 50%;
		aspect-ratio: 720 / 600;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;

		&__content {
			position: absolute;
			width: 339px;
			top: 66%;
			text-align: center;
		}

		&__title {
			@include i.text-preset-5;
			margin-bottom: 32px;
		}

		&__text {
			@include i.text-preset-11;
		}
	}
}

@media (max-width: 1440px) {
	.projects {
		flex-direction: column;

		.graphic-design,
		.photography {
			width: 100%;
		}
	}
}