@use '../index' as i;

.projects {
	display: flex;

	.graphic-design,
	.photography {
		@include i.bg-image;
		width: 50%;
		aspect-ratio: 720 / 600;
		display: flex;
		align-items: center;
		flex-direction: column;

		&__content {
			width: 339px;
			margin-top: 396px;
			text-align: center;
		}

		&__title {
			@include i.text-preset-5;
			margin-bottom: 32px;
		}

		&__text {
			@include i.text-preset-11;
		}
	}
}