@use '../index' as i;

.transform,
.stand-out {
	display: flex;

	&__content {
		width: 30%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: auto;
	}

	&__title {
		margin-bottom: i.$spacing-400;
		@include i.text-preset-3;
		color: i.$gray-950;
		text-align: center;
	}

	&__text {
		margin-bottom: i.$spacing-200;
		@include i.text-preset-10;
		color: i.$gray-550;
	}

	&__link {
		@include i.text-preset-8;
		color: i.$gray-950;
		align-self: flex-start;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 137px;
			height: 10px;
			border-radius: 10px;
			z-index: -1;
		}
	}

	&__image {
		width: 50%;
	}
}

@media (max-width: 1440px) {

	.transform,
	.stand-out {
		flex-direction: column-reverse;

		&__content {
			width: 60%;
			margin: 67.5px auto;
			gap: 32px;
		}

		&__title {
			margin-bottom: 0;
		}

		&__text {
			margin-bottom: 0;
			text-align: center;
		}

		&__link {
			align-self: center;
			position: relative;
		}

		&__image {
			width: 100%;
		}
	}
}

@media (max-width: 768px) {

	.transform,
	.stand-out {

		&__content {
			width: 88%;
			margin: 67.5px auto;
			gap: 24px;
		}

		&__link {
			align-self: center;
			position: relative;
		}
	}
}