@use '../index' as i;

.transform, .stand-out {
	display: flex;

	&__content {
		width: 30%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: auto;
	}

	&__title {
		margin-bottom: i.$spacing-400;
		@include i.text-preset-3;
		color: i.$gray-950;
		text-align: center;
	}

	&__text {
		margin-bottom: i.$spacing-200;
		@include i.text-preset-10;
		color: i.$gray-550;
	}

	&__link {
		@include i.text-preset-8;
		color: i.$gray-950;
		align-self: flex-start;
	}

	&__image {
		width: 50%;
	}
}