*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, p, figure, picture {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
}

img, picture {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
.hero {
  width: 100%;
  height: 800px;
  background-image: url("../image/backgrounds/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 32px 40px 0;
  position: relative;
}
.hero .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .header__nav {
  display: flex;
  gap: 48px;
}
.hero .header__nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 48px;
}
.hero .header__nav .nav-item {
  list-style-type: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 29.7px;
  letter-spacing: 0;
}
.hero .header__nav-link {
  color: #fff;
}
.hero .header__cta {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 24.75px;
  letter-spacing: 1px;
  border: none;
  width: 140px;
  height: 56px;
  border-radius: 56px;
  background-color: #fff;
  cursor: pointer;
}
.hero .header__cta:hover {
  color: #fff;
  background-color: color-mix(in srgb, #fff 50%, transparent 100%);
}
.hero .header__burger {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.hero__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: 9px;
  color: #fff;
  text-align: center;
  margin: 15% auto;
}
.hero__scroll-indicator {
  width: 30px;
  height: 108px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1440px) {
  .hero .header__nav {
    display: none;
  }
  .hero .header__burger {
    display: flex;
  }
  .hero__title {
    margin: 72px auto;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 538px;
  }
  .hero__title {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 42px;
    line-height: 52.5px;
    letter-spacing: 6px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.transform__link::after {
  background: color-mix(in srgb, #fad400 30%, transparent);
}

.transform__link:hover::after {
  background: #fad400;
}

.stand-out {
  flex-direction: row-reverse;
}

.stand-out__link::after {
  background: color-mix(in srgb, #fe7766 30%, transparent);
}

.stand-out__link:hover::after {
  background: #fe7766;
}

.graphic-design {
  background-image: url("../image/backgrounds/graphic-design.jpg");
}
.graphic-design__title {
  color: #24554a;
}
.graphic-design__text {
  color: #3e7467;
}

.photography {
  background-image: url("../image/backgrounds/photography.jpg");
}
.photography__title {
  color: #052c3b;
}
.photography__text {
  color: #19536c;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  margin: 162px auto;
  max-width: 100%;
  width: fit-content;
}
.testimonials__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 4px;
  color: #a7aaad;
}
.testimonials__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.testimonials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 58px;
  width: 350px;
}
.testimonials__text {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 29.7px;
  letter-spacing: 0;
  color: #5b636d;
  text-align: center;
}
.testimonials__customer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin-top: 14px;
}
.testimonials__name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22.5px;
  letter-spacing: 0;
  color: #24303e;
}
.testimonials__post {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 25.2px;
  letter-spacing: 0;
  color: #a7aaad;
}

@media (max-width: 1440px) {
  .testimonials__items {
    flex-direction: column;
  }
  .testimonials__item {
    width: 600px;
  }
}
@media (max-width: 768px) {
  .testimonials__item {
    width: 350px;
  }
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}
.image-grid__item {
  width: 100%;
}

@media (max-width: 1440px) {
  .image-grid {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
  }
}
.transform,
.stand-out {
  display: flex;
}
.transform__content,
.stand-out__content {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.transform__title,
.stand-out__title {
  margin-bottom: 32px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0;
  color: #24303e;
  text-align: center;
}
.transform__text,
.stand-out__text {
  margin-bottom: 16px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 29.7px;
  letter-spacing: 0;
  color: #808397;
}
.transform__link,
.stand-out__link {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 24.75px;
  letter-spacing: 1px;
  color: #24303e;
  align-self: flex-start;
  position: relative;
}
.transform__link::after,
.stand-out__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 137px;
  height: 10px;
  border-radius: 10px;
  z-index: -1;
}
.transform__image,
.stand-out__image {
  width: 50%;
}

@media (max-width: 1440px) {
  .transform,
  .stand-out {
    flex-direction: column-reverse;
  }
  .transform__content,
  .stand-out__content {
    width: 60%;
    margin: 67.5px auto;
    gap: 32px;
  }
  .transform__title,
  .stand-out__title {
    margin-bottom: 0;
  }
  .transform__text,
  .stand-out__text {
    margin-bottom: 0;
    text-align: center;
  }
  .transform__link,
  .stand-out__link {
    align-self: center;
    position: relative;
  }
  .transform__image,
  .stand-out__image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .transform__content,
  .stand-out__content {
    width: 88%;
    margin: 67.5px auto;
    gap: 24px;
  }
  .transform__link,
  .stand-out__link {
    align-self: center;
    position: relative;
  }
}
.projects {
  display: flex;
}
.projects .graphic-design,
.projects .photography {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 600px;
  width: 50%;
  aspect-ratio: 720/600;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.projects .graphic-design__content,
.projects .photography__content {
  position: relative;
  width: 339px;
  top: 66%;
  text-align: center;
}
.projects .graphic-design__title,
.projects .photography__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0;
  margin-bottom: 32px;
}
.projects .graphic-design__text,
.projects .photography__text {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 27.2px;
  letter-spacing: 0;
}

@media (max-width: 1440px) {
  .projects {
    flex-direction: column;
  }
  .projects .graphic-design,
  .projects .photography {
    width: 100%;
  }
}
.footer {
  background-color: #90d4c6;
  padding: 73.5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__logo {
  margin-bottom: 40px;
}
.footer__nav {
  display: flex;
  margin-bottom: 80px;
}
.footer__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 56px;
}
.footer__nav-item {
  list-style-type: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 29.7px;
  letter-spacing: 0;
}
.footer__nav-link {
  color: #458d7e;
}
.footer__nav-link:hover {
  color: #fff;
}
.footer__social {
  display: flex;
}
.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;
}
.footer__social-item {
  list-style-type: none;
}
.footer__social-logo {
  color: #3e7467;
}
.footer__social-logo:hover {
  color: #fff;
}

body {
  min-width: 375px;
}

/*# sourceMappingURL=style.css.map */
